
<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Login Page </title> 
<link rel="stylesheet" href="/home/devasc/MIDTERMS-devops-/static/style.css" />  
</head>    
<body>    
    <h1> Login Form </h1>  
    <form>  
        <div class="container">   
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="username" >  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password">  
            <button>LOGIN</button> 
            <button class="regbutton"><a href="register.html" class="login">REGISTER</a></button> 
        </div>   
    </form>     
</body>     
</html>  