
<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Registration Form </title> 
<link rel="stylesheet" href="/home/devasc/MIDTERMS-devops-/static/style2.css" />  
</head>    
<body>    
    <h1> Registration Form </h1>  
    <form>  
        <div class="container">   
            <label>First Name : </label>   
            <input type="text" placeholder="Enter Name"> 
            <label>Last Name : </label>   
            <input type="text" placeholder="Enter Last Name"> 
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username">  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password">  
            <button><a href="login.html" class="login">LOGIN</a></button>  
        </div>   
    </form>     
</body>     
</html>  